################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MazeApp/bin/Debug/net8.0
/MazeApp/obj
